* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  border: none;
  /* border: 1px solid red; */
  list-style-type: none;
  transition: all 0.1s ease;
  user-select: none;
}

:root {
  --primaryColor: #2e8b57;
  --secondaryColor: white;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 10vh;
}

/* Header & Navbar */
header {
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 10vh;
}

header div {
  display: none;
}

nav {
  width: 100%;
  background-color: var(--primaryColor);
  box-shadow: 0 2px 4px rgba(104, 104, 104, 0.8);
}

ul,
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondaryColor);
}

nav h4 {
  font-weight: bold;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondaryColor);
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

nav ul li a:hover {
  border-bottom: 3px solid var(--secondaryColor);
}

nav ul li {
  padding: 5px 20px;
  margin-top: 5px;
}

#logoSosmed {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

#logoSosmed img:hover {
  scale: 1.1;
}

/* Main Content */
/* 1. First Content */
main {
  display: flex;
  flex-direction: column;
}

#firstContent {
  height: 90vh;
  position: relative;
}

.carousel-item img {
  height: 90vh;
  object-fit: cover;
  object-position: top;
}

#popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 350px;
  height: 250px;
  z-index: 1;
  top: 100px;
  left: 20px;
  background-color: rgba(6, 6, 6, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
}

#popup h2 {
  font-weight: bold;
}

#quotes {
  color: white;
  height: 100%;
}

#popup button {
  border: 1px solid var(--secondaryColor);
  margin: 0 10px;
  padding: 5px;
  border-radius: 7px;
  background-color: rgba(89, 95, 90, 0.39);
  width: 140px;
  color: white;
}

#popup button:hover {
  background-color: rgba(193, 192, 192, 0.39);
}

/* 2. Second Content */
#secondContent {
  height: 90vh;
  background-image: url("./img/Masjid\ Raya\ Baiturrahman.jpg");
  background-clip: border-box;
  background-repeat: no-repeat;
  background-color: var(--primaryColor);
  background-blend-mode: multiply;
  color: var(--secondaryColor);
  display: flex;
  justify-content: space-around;
}

#secondContent section:nth-child(2) {
  align-self: center;
}

#secondContent section:nth-child(1),
#secondContent section:nth-child(3) {
  margin-top: 100px;
}

#secondContent h2,
#secondContent h5,
#secondContent h4 {
  font-weight: bold;
}

#secondContent td,
#secondContent th {
  font-weight: bold;
  font-size: 18px;
}

#secondContent table tr th:first-child {
  text-align: center;
  padding-right: 200px;
  padding-bottom: 10px;
}

/* 3. Third Content */
#thirdContent {
  height: 90vh;
  background-image: url("./img/Masjid\ Raya\ Baiturrahman.jpg");
  background-clip: border-box;
  background-repeat: no-repeat;
  background-color: var(--primaryColor);
  background-blend-mode: multiply;
  color: var(--secondaryColor);
  display: flex;
  justify-content: space-around;
}

#thirdContent section:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#thirdContent section:nth-child(1) {
  margin-top: 100px;
}

#thirdContent h2,
#thirdContent h5 {
  font-weight: bold;
}

#thirdContent section table {
  margin-top: 10px;
}

#thirdContent td,
#thirdContent th {
  font-weight: bold;
  font-size: 18px;
  border: 1px solid var(--secondaryColor);
  padding: 10px;
}

#thirdContent section table tr th {
  text-align: center;
  padding-right: 20px;
  padding-bottom: 10px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primaryColor);
  padding: 10px 0;
}

#footer_bawah {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

#footer_bawah div h6 {
  margin: 10px 0;
  font-weight: bold;
  color: var(--secondaryColor);
}

#footer_bawah > div img {
  margin: 25px 0 0 0;
}

td a {
  color: var(--secondaryColor);
  text-decoration: none;
}

tr > td {
  padding-right: 20px;
}

td a:hover {
  color: rgb(180, 251, 180);
}

.footerFotos img {
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--secondaryColor);
}

form h6 {
  font-weight: bold;
  margin: 10px 0;
}

textarea {
  background-color: var(--primaryColor);
  border: 1px solid var(--secondaryColor);
  padding: 5px;
  color: var(--secondaryColor);
}

form button {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border-radius: 7px;
  margin: 15px 0;
  width: 80px;
  padding: 2px 0;
  font-weight: bold;
  font-size: 0.9em;
}

form button:hover {
  scale: 1.03;
}

#logoSosmed1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

#logoSosmed1 img {
  margin: 0 2.5px;
}

#logoSosmed1 img:hover {
  scale: 1.1;
}

/* classes */
.info {
  color: var(--secondaryColor);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  margin-top: 5px;
  font-weight: bold;
}

.sosmedLogo {
  height: 30px;
}
